body{
 background-image:  url(" https://github.com/Ballursajeed/WeatheApp/blob/main/worldmap2.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}